* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* COMMON */
html {
  scroll-behavior: smooth;
}

.container-template {
  width: 80%;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.title p:first-child {
  color: #e62b4a;
  line-height: 24px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

.title p:last-child {
  margin: 24px 0px;
  color: #888;
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
}

.title h2 {
  margin-top: 8px;
  padding: 0 24px;
  color: #fff;
  font-size: 50px;
  font-weight: 500;
}

/* HEADER */
header nav ul {
  display: flex;
  list-style: none;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

header .logo {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  transition: all 0.5s;
}

header .logo:hover {
  color: #e62b4a;
  cursor: pointer;
}

header nav a.active {
  color: #e62b4a;
}

header nav a {
  margin: 0 16px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
}

header nav a:hover {
  color: #e62b4a;
  cursor: pointer;
}

header nav li {
  margin-left: 20px;
}

header {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* CAROUSEL */
.carousel {
  background-image: url("../image-video/home_slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-content {
  /* border: 1px solid red; */
  width: 30%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.carousel-content p {
  max-width: max-content;
  font-size: 18px;
}

.carousel-content h1 {
  margin: 8px 0;
  font-size: 65px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
}

.carousel-btn {
  background-color: #e62b4a;
  color: #fff;
  margin-top: 16px;
  padding: 15px 24px;
  border: none;
  /* border-radius: 8px; */
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
}

.carousel-btn:hover {
  background-color: #af2239;
}

.carousel-content i.animate-down {
  margin-top: 18px;
  font-size: 30px;
  animation: arrowDown 1s linear 0s infinite;
}

@keyframes arrowDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(40px);
  }
}

/* SERVICES */
.service {
  background-color: black;
  padding: 90px 0;
}

.service-container {
  width: 75%;
  margin: 0 auto;
  letter-spacing: 1px;
}

.service .item-content {
  background-color: #fff;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.service-item {
  padding: 0 15px;
  text-align: center;
}

.service-item i {
  color: #888;
  font-size: 50px;
  font-weight: 700;
}

.service-item p {
  margin-top: 8px;
  padding: 0 10px;
  color: #888;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
}

.slick-dots li.slick-active button:before {
  color: #e62b4a;
  opacity: 1;
}

.slick-dots li button:before {
  color: #3f3f3f;
  opacity: 0.75;
  font-size: 15px;
  margin-top: 14px;
}

.service-item .item-content::after {
  content: "";
  height: 0;
  width: 5px;
  background-color: #e62b4a;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s linear;
}

.service-item .item-content:hover::after {
  height: 100%;
}

/* SHOWCASE */
.show_case {
  background-color: #fff;
}

.show-title p:first-child,
.show-title p:last-child {
  color: #888;
  font-weight: 500;
  letter-spacing: 0;
}

.show-title h2 {
  color: #000;
  letter-spacing: 0;
}

.show-container {
  width: 75%;
  margin: 0 auto;
  padding: 90px 0;
  letter-spacing: 1px;
}

.show-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #888;
  filter: grayscale(100%) contrast(50%);
}

.show-content {
  display: grid;
  /* margin: 50px auto 0; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 408px 408px;
  grid-gap: 30px;
}

.show-item {
  position: relative;
}

.show-overlay {
  background-color: rgba(230, 43, 74, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}

.show-overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.show-icon {
  background-color: #fff;
  position: absolute;
  right: 25px;
  top: 25px;
  text-align: center;

  transform: translateY(20px);
  transition: all 0.8s;
}

.show-item:hover .show-icon {
  transform: translateY(0);
}

.show-icon i {
  text-align: center;
  background-color: #ffffff;
  padding: 12px;
  font-size: 16px;
  color: #000;
}

.show-icon i:hover {
  background-color: #000;
  color: #fff;
  transition: all 1s;
}

.show-text {
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: #000;
  transform: translateY(20px);
  transition: all 0.8s;
}

.show-item:hover .show-text {
  transform: translateY(0);
}

.show-text p {
  color: #d0c7c8;
  font-size: 16px;
  letter-spacing: 0;
}

.show-text h3 {
  color: #fff;
  margin-top: 4px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
}

/* BLOG */ /* BLOG */
/* BLOG */ /* BLOG */
.blog {
  background-color: #f3f3f3;
  padding: 90px 0;
}

.blog-title p:first-child {
  color: #91949a;
}

.blog-title h2 {
  color: #000;
}

.blog-list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.blog-item1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.blog-item10 {
  grid-column: 3/5;
  grid-row: 3/5;
}

.blog-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(30%) contrast(50%);
  transition: all 0.5s;
  cursor: pointer;
}

.blog-list img:hover {
  filter: none;
}

/* NUMBER */ /* NUMBER */
/* NUMBER */ /* NUMBER */
.number {
  background-color: #000;
  padding: 90px 0;
  color: #fff;
}

.number-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.number-item span {
  font-size: 60px;
  font-weight: 300;
}

.number-item p {
  margin-top: 10px;
  color: #7a8186;
  font-size: 18px;
  font-weight: 500;
}

/* EXPERIENCE */ /* EXPERIENCE */
/* EXPERIENCE */ /* EXPERIENCE */
.experience {
  background-image: url(../image-video/bussiness_img_1.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 90px 0;
}

.exp-content video {
  width: 100%;
  object-fit: cover;
  border: none;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
  outline: none;
}

/* CONTACT */ /* CONTACT */
/* CONTACT */ /* CONTACT */
.contact {
  background-color: #fff;
  padding: 90px 0;
}

.conatact-title h2 {
  color: #000;
}

.contact-content {
  display: flex;
  align-items: center;
  width: 75%;
  margin: 30px auto 0;
}

.contact-map {
  width: 60%;
}

.contact-map iframe {
  width: 100%;
  height: 450px;
}

.contact-form {
  width: 40%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.contact-form input,
.contact-form textarea {
  font-size: 15px;
  padding: 1em;
  border: 1px solid #888;
  border-radius: 4px;
  margin-bottom: 25px;
}

.contact-form button {
  padding: 20px 0;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  border: none;
  transition: all 0.5s;
}

.contact-form button:hover {
  background-color: #e62b4a;
  cursor: pointer;
}

/* FOOTER */ /* FOOTER */
/* FOOTER */ /* FOOTER */
.footer {
  background-color: #000;
  color: #fff;
}

.footer-container {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

.footer-icon a {
  display: inline-block;
  margin-left: 5px;
  width: 54px;
  height: 54px;
  color: #fff;
  background-color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 54px;
  border-radius: 50%;
  border: none;
  transition: all 0.5s;
}

.footer-icon a:hover {
  background-color: #e62b4a;
}

/* BACK TO TOP */ /* BACK TO TOP */
/* BACK TO TOP */ /* BACK TO TOP */
.backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.backToTop i {
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

